.shuffle_controller {
	grid-area: shuffle_controller;
}

.shuffle_controller[data-active='true'] svg {
	color: rgba(255, 255, 255, 0.8);

	&:hover {
		color: rgb(255, 255, 255);
	}
}

.shuffle_controller[data-active='false'] svg {
	color: rgba(255, 255, 255, 0.3);
}
