$clr-primary: rgb(3, 66, 100);
$clr-primary-lt: lighten($clr-primary, 7%);
$clr-primary-ltr: lighten($clr-primary-lt, 5%);
$clr-primary-dk: darken($clr-primary, 7%);
$clr-primary-dkr: darken($clr-primary-dk, 5%);

$clr-text: rgb(26, 27, 39);
$clr-text-accent: rgb(255, 255, 255);

$clr-alert: rgb(210, 20, 20);

$clr-placeholder: linear-gradient(
	130deg,
	rgba($clr-primary-dkr, 0) 33.333%,
	rgba($clr-primary-dk, 0.051),
	rgba($clr-primary, 0.2) 47%,
	rgba($clr-primary, 0.2) 53%,
	rgba($clr-primary-dk, 0.102),
	rgba($clr-primary-dkr, 0) 66.666%
);
