@import '@/styles/variables/spacing';

.drawer_header {
	height: 70px;
	padding: 0 $spacing-4;
}

.brand {
	align-items: center;
	color: inherit;
	display: flex;
	font-size: xx-large;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0 $spacing-4;
	text-decoration: none;
	transition: background-color 0.1s ease-in-out;
}
