@import '@scss/colors';
@import '@scss/components';
@import '@scss/spacing';

.header {
	align-items: center;
	background-color: $clr-primary;
	color: $clr-text-accent;
	display: flex;
	gap: $spacing-4;
	height: $header-height;
	justify-content: space-between;
}
