@import '@scss/colors';
@import '@scss/components';
@import '@scss/fontSize';
@import '@scss/mixin';
@import '@scss/spacing';

.slider {
	background-color: $clr-primary-ltr;
	height: $slider-height;
}

.slide_wrapper {
	padding: $spacing-6;
}

.thumbnails {
	align-items: center;
	height: auto;
	justify-content: center;
	margin: 0 auto;
	max-height: $slider-thumb-max-height;
	max-width: $max-wrapper;
	padding: $spacing-2;

	@include md() {
		padding: $spacing-4;
	}
}

.thumbnail_wrapper {
	& > div {
		background-color: $clr-primary-ltr;
		transition: background-color 0.2s ease-in-out;
	}

	&.thumbnail_active > div {
		background-color: $clr-primary-dk;
	}

	& > div:hover {
		background-color: $clr-primary;
	}
}

.error_message {
	align-items: center;
	color: $clr-text-accent;
	display: flex;
	font-size: $fs-2xl;
	height: 100%;
	justify-content: center;
}
