@import '@scss/colors';
@import '@scss/components';
@import '@scss/fontSize';
@import '@scss/mixin';
@import '@scss/spacing';

$thumbnail-line-height: 1rem;
$thumbnail-lines: 2;

.thumbnail {
	cursor: pointer;
	margin: 0 auto;
	min-height: $slider-thumb-min-height;
	width: 90%;

	@include md() {
		padding: $spacing-2;
	}
}

.thumbnail_text {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $thumbnail-lines;
	color: $clr-text-accent;
	display: none;
	font-size: $fs-xs;
	height: calc($thumbnail-line-height * $thumbnail-lines);
	line-height: $thumbnail-line-height;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;

	@include md() {
		display: -webkit-box;
	}
}
