// Header
$header-height: 70px;
$header-max-wrapper: 1200px;

// Slider
$slider-height: 600px;
$slider-thumb-min-height: 10px;
$slider-thumb-max-height: 80px;

// Player
$player-height: 120px;
$player-progress-bar-width: 600px;
