$fs-base: 1rem;

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;
$fs-6xl: 4rem;
$fs-7xl: 5rem;
$fs-8xl: 6rem;
$fs-9xl: 8rem;
