$spacing-0: 0rem;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 2.33rem;
$spacing-10: 2.66rem;
$spacing-11: 3rem;
$spacing-12: 3.5rem;
$spacing-13: 4rem;
$spacing-14: 4.5rem;
$spacing-15: 5rem;
$spacing-16: 6rem;
$spacing-17: 7rem;
$spacing-18: 8rem;
$spacing-19: 9rem;
$spacing-20: 10rem;
